.search-box {
    -fx-background-color: #FFF;
    -fx-background-radius: 100;
}

.transaprent {
    -fx-background-color: rgba(0,0,0,0);
}

.search-btn{
    -fx-background-color: #D55E32;
    -fx-background-radius: 30;
}

.search-btn:hover:pressed{
    -fx-background-color: #BE532D;
}

.search-btn:hover{
    -fx-background-color: #F96D3B;
}

.left-bar {
    -fx-background-color: #4E2885;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.card {
    -fx-background-color: #2a2a2b;
    -fx-background-radius: 30;
}

.btn {
    -fx-background-color: #FFF;
    -fx-background-radius: 30;
}

.btn:hover:pressed{
    -fx-background-color: #C7C7C7;
}

.btn:hover{
    -fx-background-color: #E7E7E7;
}

.btn-selected {
    -fx-background-color: #D55E32;
    -fx-text-fill: #FFF;
}

.btn-selected:hover:pressed{
    -fx-background-color: #E46436;
}

.btn-selected:hover{
    -fx-background-color: #A64927;
}

.item {
    -fx-background-color: #FFF;
    -fx-background-radius: 30;
}